.smythe-regular{
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  img{
      width: 50%;
      height: 50%;
  }
  p{
      font-size: larger;
  }
  fieldset{
      width: 300px;
      float: right;
  }