footer{
    background-color: aqua;

}
body{
    background-color: rgb(36, 219, 143);
    margin: justify;
}
i{
    font-size: 24px;
}
.box1{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: green;
    float: left;
}
.box2{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: red;
    float: left;
}
.box3{
    width: 200px;
    height: 100px;
    border: 1px solid black;
    background-color: blue;
}